{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

   
    
    <link rel="stylesheet" href="style.css">
        
    <title>Search</title>

    <nav>
        <div class="nav-wrapper">
          <a href="index.html" class="brand-logo right">Knightly Collectibles</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="collection.html">Collection</a></li>
            <li><a href="search.html">Search</a></li>
            <li><a href="#">Log Out</a></li>
          </ul>
        </div>
      </nav>

</head>
<body>

  <div class="row">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
          <div class="container">
                <button id="searchButton">
                <input id="userInput">
                <label class="label-icon" for="search"><i class="material-icons">Please Enter a Pokemon</i></label>
                <a class="waves-effect waves-light btn">Search</a>
                <!-- <i class="material-icons">search</i> -->
                </button>
          </div>

        <div class="card-action">
          <a href="#">Add to Collection</a>
        </div>
      </div>  
    </div>
  </div>
  

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="ajaxcall.js"></script>

  <div id="pokemon-div"></div>

</body>

<script>
  function searchPokemon(name) {
    var queryURL = "https://api.pokemontcg.io/v2/cards?q=name:";
    $.ajax({
      url: queryURL,
      method: "GET"
    }).then(function(response) {
      console.log(response);

      var pokemonName = $("<h1>").text(response.name);
      var pokemonImage = $("img").attr("src", response.thumb_url);
      var pokemonDescription = $("<h2>").text(response.description);

      $("#pokemon-div").empty();
      $("#pokemon-div").append(pokemonImage, pokemonDescription);
    });
  }

  $("#run-search").on("click", function(event) {

    event.preventDefault();

    var inputPokemon = $("#pokemon-input").val().trim();

    searchPokemon(inputPokemon);

  });

</script>

</html>  --}}

 <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<div class="row">
  <div class="col-md-6">
    <h2>Search</h2>
  </div>
</div>