body{
    background:url('https://wallpapercave.com/wp/uamtIrK.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size: cover;
}

.nav-wrapper{
    background-color:#335ABA !important;
    color: #FFCC00
}

.card {
    float: center;
    margin: 50px auto;
    padding: 5px 25px 18px;
    height: 450px;
    width: 100%;
}
